## NUMBER DATATYPE

In [1]:
#3 types of Numbers
print(type(3))
print(type(3.5))
print(type(3+4j))

<class 'int'>
<class 'float'>
<class 'complex'>

## INDENTATION

In [11]:
#Indentation:either 4 spaces or single tab space
def fun():
    print("hello")
print("hjdhs")
fun()
print(type(fun))

hjdhs
hello
<class 'function'>

## TYPE() FUNCTION

In [12]:
fun=5
print(type(fun))

<class 'int'>

## TYPE CASTING

In [ ]:
#type casting a single input
var=float(input())
print(type(var))

In [ ]:
a=float(input()) 
print(a)
b=float(input())
print(b)
print(a+b)

## COMMENTS IN PYTHON

In [ ]:
#sinGle line commenting in python using hash
#print("hello world")

In [ ]:
#multiline commenting using triple single quotes
'''print("hello world")'''

## PRINTING METHODS

In [13]:
#printing methods- printing variables
str1="abc"
print(str1)

abc

In [ ]:
#printing- printing direct string 
print("hello world")

## STRING FORMATTING

In [ ]:
#i want 10 pieces of apples for 100.0 ruppees
quantity=10;
item="appple"
cost=100.0

In [ ]:
txt1="i want {} pieces of {} for {} ruppees"
print(txt1.format(quantity,item,cost))

In [14]:
txt2="i want {2} pieces of {1} for {0} ruppees"
print(txt2.format(cost,item,quantity))

NameError: name 'cost' is not defined

In [ ]:
#FOLLOWS THE SAME ORDER IN WHICH PARAMETERS ARE PASSED
txt2="i want {2} pieces of {1} for {0} ruppees"
print(txt2.format(quantity,cost,item))

In [ ]:
txt3="i want {quantity} pieces of {item} for {cost} ruppees"
print(txt3.format(item="apples",quantity=10,cost=100.0))

## INPUT() FUNCTION

In [ ]:
str1=input("enter your first name:")
str2=input("enter your last name:")
print(str1+str2)

In [ ]:
#i want quantity peices of item for cost value
txt3="i want {quantity} peices of {item} for {cost} ruppees"
print(txt3.format(item=array_name[i],quantity=10,cost=100.0))

## PRINT(STR,SEP,END) PARAMETERS
DEFAULT VALUE OF SEP=" " (SPACE)

DEFAULT VALUE OF END="\n" (NEWLINE)

In [ ]:
name="jai"
print("hello",name,sep="$",end="*")
print("hello again")

In [ ]:
a="hello"
b="world"
print("hello world",a,b,sep="$",end=" ") #\n means newline
print("my name is jai")

## input.split() method and map(function,iterable) fuction

In [ ]:
a,b=input().split() #2 space seperated values will be placed in a and b respectively
print(a)
print(type(a)) #values are of str type as input takes values in str format unless typecasting is used
print(b)
print(type(b)) #values are of str type as input takes values in str format unless typecasting is used

In [ ]:
a,b,c,d=input().split(sep=" ")
print(a)
print(b)
print(c)
print(d)
print(a+b+c+d)

In [ ]:
a,b,c,d=map(int,input().split(sep=" ")) #map(function,inputs)
print(a)
print(b)
print(c)
print(d)
print(a+b+c+d)

In [ ]:
a,b=map(int,input().split())
c,d=input().split()
print(a+b)
print(c+d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
#INPUT INTEGER VALUE BUT IT'LL WORK AS STR
a=input()
b=input()
print(a)
print(b)
print(type(a))
print(type(b))
print(a+b)    #hi+hi=hihi IE: 2+3=23
#a=int(a)
#b=int(b)
#print(a+b)   #2+3=5

In [ ]:
"hello"+"hi"

## OPERATORS IN PYTHON

In [ ]:
#arithmatic operators
a=2
b=3
print(a+b)
print(a-b)
print(a*b)
print('%.2f'%(a/b))
print(a%b) 
print(a**b) #2^3
print(b//a) #3/2=1.5

In [ ]:
#logical operators
#and (true if both conditions are true)
print(10>3 and 1>10)
#or (true if atleast one condition is true)
print(10>3 or 1>10)
#not
print(10>3)
print(not(10>3))

In [ ]:
#assignment operator
a=1
a+=2
print(a)#a=a+2
a-=2 #a=a-2
print(a)
a*=2 #a=a*2
print(a)
a/=2 #a=a/2
print(a)

In [ ]:
a=123
print(a)
print(type(a))
a="hello"
print(a)
print(type(a))

In [ ]:
#identity operators
a=2
type(a) is int
b="string"
type(b) is not int

In [ ]:
b="string"
type(b) is not int

In [ ]:
#mebership operator
list1=[11,12,13,14]
a=11
a in list1

In [ ]:
list1=[11,12,13,14]
b=21
b not in list1

In [ ]:
#comparision operators
a=20
b=30
#a>b
#a<b
#a==b
#a!=b
#a>=b
#a<=b

In [ ]:
#bitwise operators
a=10
#1010
b=7
#111
print(a&b)
print(a|b)
print(a^b)

## CONDITIONAL STATEMENTS

In [ ]:
num= int(input("enter a number"))
if num%2==0:
    print("even")
else:
    print("odd")

In [ ]:
x,y =8,8
if(x < y):
    st= "x is less than y"
elif (x == y):
    st= "x is same as y"
else:
    st="x is greater than y"
print(st)

In [ ]:
if 1>3 or 4>3:
    print("if block")
    print("if block")
elif 10>20:
    print("when if is false")
elif 10<30:
    print("when if and elif1 is false")
else:
    print("all other conditions are false")

In [ ]:
if False:
    print("if block")
    print("if block")
elif 10>20:
    print("when if is false")
elif 10<30:
    print("when if and elif1 is false")
else:
    print("all other conditions are false")

In [ ]:
a=2
if a==2:
    print("yes")
    print("yes again")
else:
    print("no")

In [ ]:
b=2
print("yes") if a==2 else print("no")
# on_true if condition else on_false

In [ ]:
a=5
if a%2==0:
    if a>=2 and a<=4:
        a=a+1
    else:
        a=21
else:
    a=a-1
print(a)

In [ ]:
#if (True if False else (True if True else False):
 #   print("wow")

In [ ]:
year = int(input())
if (year == 2020):
    print("BAD LUCK MATE, Better luck next year!!")

else:
    if (year % 4) == 0:
        if (year % 100) != 0:
            print("leap")
        else:
            print("not leap")
    else:
        print("not leap")

In [ ]:
year=int(input())
if year==2020:
    print("BAD LUCK MATE, Better luck next year!!")
elif (year%4)==0:
    if year%100==0:
        if year%400==0:
            print("leap")
        else:
            print("not leap")
    else:
        print("leap")
else:
    print("not leap")

In [ ]:
a,b,c,d,e= map(int,input().split())
avg=(a+b+c+d+e)/5
if avg>=90:
    print("A+")
elif avg>=80:
    print("A")
elif avg>=70:
    print("B+")
elif avg>=60:
    print("B")
else:
    print("C")

In [ ]:
a,b=map(int,input().split())
if a%b==0:
    print(b,"is a factor of",a)

In [ ]:
a=int(input())
if a==1:
    print("sunday")
elif a==2:
    print("Monday")
elif a==3:
    print("Tuesday")
elif a==4:
    print("Wednesday")
elif a==5:
    print("Thursday")
elif a==6:
    print("Friday")
elif a==7:
    print("Saturday")
else:
    print("invalid input")

## RANGE FUNCTION

#range(lowerlimit,upperlimit,jump) range(1,7,2) ------ 1,3,5
#range(upperlimit) ----- default lowerlimit =0 jump=1  range(7)---- 0,1,2,3,4,5,6
#range(lower,upper)------jump=1     range(1,7)------1,2,3,4,5,6
#range(upper,jump)

n=5
for i in range(0,n):   # 0,1,2,3,4
    print(i)

In [ ]:
for i in range(19,0,-1):
    print(i)

## LOOPING

In [ ]:
#DATATYPES WHICH ARE ITERABLES
#string="1234"
#list,tuples,dictionaries
#BUT NOT INT 
for i in "1234":
    print(i)
    if i=="3":
        break
else:
    print("string iterated completely")

In [ ]:
i=0         #initiation
while i<6:     #condition
    print(i)    #statements to execute when condition is true
    i=i+1

In [ ]:
i=0         #initiation
while i<6:     #condition
    i=i+1
    print(i)    #statements to execute when condition is true
else:
    print("i is no longer less than 6","i=",i)

## CONTROL FLOW STATEMENTS

In [ ]:
#break continue pass
i=0
n=21
while i<n:
    if i==11:
        #print("11111")
        break
    print(i)
    i=i+1
else :
    print("i is no longer smaller thanm 21")
print("loop broken")

In [ ]:
gen,age=input().split()
age=int(age)
if (((gen=="male" or gen=="Male") and age>=25) or ((gen=="female" or gen=="Female") and age>=20)):
    print("eligible")
else:
    print("not eligible")

In [2]:
sec=int(input())
min=sec//60    
sec=sec%60
hours=min//60
min=min%60
print(hours)
print(min)
print(sec)
print(hours,":",min,":",sec)

500
0
8
20
0 : 8 : 20

## BONUS TOPIC: TEXT ALIGNMENT

In [12]:
str1="hello"
print(len(str1))
b=str1.ljust(30,"-")
print(b)
print(len(b))

5
hello-------------------------
30

In [21]:
str1="hello"
print(len(str1))
b=str1.rjust(30,"-")
print("hi",b,sep="$")
print(len(b))

5
hi$-------------------------hello
30

In [14]:
str1="hello"
print(len(str1))
b=str1.center(30,"-")
print(b)
print(len(b))

5
------------hello-------------
30

In [24]:
#constraint 1: n should be odd and m should be 3 times the value of n
n,m=map(int,input().split())
c='.|.'
for i in range(n):
    if i<n//2:
        print((c*i).rjust((m-len(c))//2,'-')+c+(c*i).ljust((m-len(c))//2,'-'))
    elif i==n//2:
        print('WELCOME'.center(m,'-'))
    elif i>n//2:
        print((c*(n-1-i)).rjust((m-len(c))//2,'-')+c+(c*(n-1-i)).ljust((m-len(c))//2,'-'))

7 21
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------